[core]
	editor = /home/nikolay/.local/bin/nvim.appimage
	autocrlf = input
	safecrlf = warn
	quotepath = off
	excludesFile = ~/.gitignore
[user]
	name = Nikolay
	email = deluxoft@gmail.com
[color]
	ui = auto
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = git diff | /home/nikolay/.local/bin/nvim.appimage
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --decorate --all
	type = cat-file -t
	dump = cat-file -p
	aci = !git add . && git commit
[color "status"]
	;untracked = "#eca347 normal no-bold"
	;changed = "#1e81b0 normal no-bold"
