[core]
	editor = /home/nikolay/.local/bin/nvim.appimage
	autocrlf = input
	safecrlf = warn
	quotepath = off
	excludesFile = ~/.gitignore
[user]
	name = Nikolay
	email = deluxoft@gmail.com
[color]
	ui = auto
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = git diff | /home/nikolay/.local/bin/nvim.appimage
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'"%C(green)%h %Creset%ad | %C(#e0fa6b)%s%C(#8ad984)%d [%C(#8495d9)%an]"' --graph --date=short --decorate --all
	type = cat-file -t
	dump = cat-file -p
	aci = !git add . && git commit
	undo = reset --soft HEAD~1
[mergetool "fugitive"]
	cmd = /home/nikolay/.local/bin/nvim.appimage -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = fugitive
[mergetool]
	prompt = false
