!XTerm*faceName:             xft:Anonymous Pro for Powerline:pixelsize=12:antialias=true
!XTerm*faceName:             xft:CascadiaCode:pixelsize=11:antialias=true
!XTerm*faceName:             xft:FiraMono for Powerline:pixelsize=10:antialias=false
XTerm*faceName:             xft:Hack:pixelsize=11:antialias=true
!XTerm*faceName:             xft:Iosevka Term:pixelsize=11:antialias=false
!XTerm*faceName:             xft:DejaVu Sans Mono:pixelsize=11:antialias=false
!XTerm*faceName:             xft:Source Code Pro Light:pixelsize=11:antialias=false
!XTerm*faceName:             xft:Monaco for Powerline:pixelsize=11:antialias=false
XTerm*utf8:                 true
XTerm*locale:               true
XTerm*utf8Title:            true
XTerm*renderFont:           true
XTerm*preeditType:          root
XTerm*selectToClipboard:    true
XTerm*xftAntialias:         true
XTerm*VT100.geometry:       80x50
XTerm*background:           #1B1B1B
XTerm*cursorColor:          ff8717

! Scroll multiple lines at a time for faster redrawing:
XTerm*jumpScroll:           true
XTerm*multiScroll:          true

! trim whitespace from selection before copying
XTerm*trimSelection:        true

! Fix alt-key inputting
XTerm*eightBitInput:        false
XTerm*metaSendsEscape:      true

! Allow selecting email/url by double-click
XTerm*charClass:            33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
