<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Terminal">
            <action name="Execute">
                <command>xterm</command>
            </action>
        </item>
        <item label="Web Browser">
            <action name="Execute">
                <command>x-www-browser</command>
            </action>
        </item>
        <item label="File Manager">
            <action name="Execute">
                <command>thunar</command>
            </action>
        </item>
        <separator/>
        <menu id="graphics" label="Graphics">
            <item label="MTPaint">
                <action name="Execute">
                    <command>mtpaint</command>
                </action>
            </item>
            <item label="Viewnior Image Viewer">
                <action name="Execute">
                    <command>viewnior</command>
                </action>
            </item>
            <!--<menu id="graphicsScreenshots" label="Take Screenshot">-->
            <!--    <item label="Screenshooter">-->
            <!--        <action name="Execute">-->
            <!--            <command>-->
            <!--                xfce4-screenshooter-->
            <!--            </command>-->
            <!--        </action>-->
            <!--    </item>-->
            <!--    <separator label="scrot"/>-->
            <!--    <item label="Now">-->
            <!--        <action name="Execute">-->
            <!--            <command>-->
            <!--                scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/images/ &amp; viewnior ~/images/$f'-->
            <!--            </command>-->
            <!--        </action>-->
            <!--    </item>-->
            <!--    <item label="In 5 Seconds...">-->
            <!--        <action name="Execute">-->
            <!--            <command>-->
            <!--                scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/images/ &amp; viewnior ~/images/$f'-->
            <!--            </command>-->
            <!--        </action>-->
            <!--    </item>-->
            <!--    <item label="In 10 Seconds...">-->
            <!--        <action name="Execute">-->
            <!--            <command>-->
            <!--                scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/images/ &amp; viewnior ~/images/$f'-->
            <!--            </command>-->
            <!--        </action>-->
            <!--    </item>-->
            <!--    <item label="Selected Area... (click &amp; drag mouse)">-->
            <!--        <action name="Execute">-->
            <!--            <command>-->
            <!--                scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/images/ &amp; viewnior ~/images/$f'-->
            <!--            </command>-->
            <!--        </action>-->
            <!--    </item>-->
            <!--</menu>-->
        </menu>
        <menu id="multimedia" label="Multimedia">
            <item label="Volume Control">
                <action name="Execute">
                    <command>pavucontrol</command>
                </action>
            </item>
        </menu>
        <menu id="network" label="Network">
            <item label="Transmission BitTorrent Client">
                <action name="Execute">
                    <command>transmission-gtk</command>
                </action>
            </item>
        </menu>
        <menu id="office" label="Office">
            <item label="Calculator">
                <action name="Execute">
                    <command>xcalc</command>
                </action>
            </item>
            <item label="Evince PDF Viewer">
                <action name="Execute">
                    <command>evince</command>
                </action>
            </item>
            <item label="Abiword">
                <action name="Execute">
                    <command>abiword</command>
                </action>
            </item>
            <item label="LibreOffice Calc">
                <action name="Execute">
                    <command>libreoffice --calc</command>
                </action>
            </item>
        </menu>
        <separator/>
        <menu id="settings" label="Settings">
            <menu id="conkyconfig" label="Conky">
                <item label="Edit .conkyrc">
                    <action name="Execute">
                        <command>vim ~/.conkyrc</command>
                    </action>
                </item>
                <item label="Restart Conky">
                    <action name="Execute">
                        <command>conkywonky</command>
                    </action>
                </item>
            </menu>
            <menu id="gmrunconfig" label="gmrun">
                <item label="Edit config file">
                    <action name="Execute">
                        <command>vim ~/.gmrunrc</command>
                    </action>
                </item>
            </menu>
            <menu id="obConfig" label="Openbox">
                <item label="GUI Menu Editor">
                    <action name="Execute">
                        <command>obmenu</command>
                    </action>
                </item>
                <item label="GUI Applications Settings Editor">
                    <action name="Execute">
                        <command>obapps</command>
                    </action>
                </item>
                <item label="GUI Config Tool">
                    <action name="Execute">
                        <command>obconf</command>
                    </action>
                </item>
                <separator/>
                <item label="Reconfigure">
                    <action name="Reconfigure"/>
                </item>
                <item label="Restart">
                    <action name="Restart"/>
                </item>
            </menu>
            <menu id="DisplaySettings" label="Display Settings">
                <item label="ARandR Screen Layout Editor">
                    <action name="Execute">
                        <command>arandr</command>
                    </action>
                </item>
            </menu>
            <menu id="Notifications" label="Notifications">
                <item label="settings">
                    <action name="Execute">
                        <command>xfce4-notifyd-config</command>
                    </action>
                </item>
            </menu>
            <item label="User Interface Settings">
                <action name="Execute">
                    <command>lxappearance</command>
                </action>
            </item>
            <item label="Choose Wallpaper">
                <action name="Execute">
                    <command>nitrogen</command>
                </action>
            </item>
        </menu>
        <menu id="system" label="System">
            <item label="GParted">
                <action name="Execute">
                    <command>gksudo gparted</command>
                </action>
            </item>
            <item label="User Login Settings">
                <action name="Execute">
                    <command>gksudo slimconf</command>
                </action>
            </item>
        </menu>
        <separator/>
        <item label="Lock Screen">
            <action name="Execute">
                <command>cb-lock</command>
            </action>
        </item>
        <item label="Exit">
            <action name="Execute">
                <command>sudo poweroff</command>
            </action>
        </item>
    </menu>
</openbox_menu>
